ServiceProxy/Service References/LearnieService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfLearnie" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfLearnie" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56147/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Progress" type="xs:int" />
      <xs:element minOccurs="0" name="Role" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lesson" nillable="true" type="tns:Lesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLesson" nillable="true" type="tns:ArrayOfLesson" />
  <xs:complexType name="Lesson">
    <xs:sequence>
      <xs:element minOccurs="0" name="HtmlContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questionnaire" nillable="true" type="tns:ArrayOfTestQuestion" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lesson" nillable="true" type="tns:Lesson" />
  <xs:complexType name="ArrayOfTestQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestQuestion" nillable="true" type="tns:TestQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestQuestion" nillable="true" type="tns:ArrayOfTestQuestion" />
  <xs:complexType name="TestQuestion">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Answers" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Correct" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestQuestion" nillable="true" type="tns:TestQuestion" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>